<div>
    <h1>Minesweeper</h1>
</div>
<div *ngIf="!gameCreated">
    <h2>Choose level:</h2>
    <mat-radio-group class="example-radio-group" [selected]="levels[0]" [(ngModel)]="chosenLevel">
        <mat-radio-button class="example-radio-button" *ngFor="let level of levels" [value]="level">
            {{level.name}}
        </mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" (click)="createNewGame()">Start Game</button>
</div>

<div *ngIf="gameCreated">
    <button mat-raised-button color="primary" (click)="openGameMenu()">New Game</button>
    <div class="game" [ngStyle]="{'width.px': chosenLevel.tilesInRow * 20}">
        <app-tile
            (click)="tileClick(tile)"
            (contextmenu)="onRightClick($event, tile)"
            (mineExploded)="gameOver()"
            (tileReveal)="increaseRevealedTiles()"
            [tile]="tile"
            *ngFor="let tile of tiles">
        </app-tile>
    </div>
    <app-timer [hidden]="!gameStarted"></app-timer>
</div>

<app-records *ngIf="records && records.length"
    [records]="records"
></app-records>
